*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(26, 11, 46, 1);
    color: rgba(255, 255, 255, 1);
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.bg-gradient{
    border: none;
    background: linear-gradient(to top right, rgb(250, 250, 66),rgb(235, 14, 50) ,blue);
}

/* navbar */

.hamburger{
    display: none;
}

.navbar{
    max-width: 1200px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.navmanu{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    font-size: 1em;
}
.navsub button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 12px 16px;
    border-radius: 20px;
}

.navsub button i{
    background-color: transparent;
}

/* Banner section */
.banner{
    max-width: 1600px;
    height: auto;
    margin: 0 auto;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    background-image: url(./assets/hero-bg.png);
    background-position: top;
    background-size: 100% auto;
    background-size: cover;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(71, 69, 69, 0.445);
    /* border: 1px solid white; */
    text-align: center;
}
.heroimg{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 0px;
}
.herocircle{
    position: absolute;
    align-items: center;
    padding-top: 60px;
    /* z-index: 1; */
}
.heromic{
    position: absolute;
    top: 50px;
    /* z-index: 2; */
}
.bannertext{
    padding-top: 130px;
    background: transparent;
}
.bannerheader{
font-size: 60px;
font-weight: 800;
margin: 10px;}

.herop{
    margin: 10px 0 30px;
}
.herobutton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 12px 16px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.herobtn2{
    border: 2px solid rgba(0, 255, 136, 1);
    color: rgba(0, 255, 136, 1);
}
.badge{
    background-color: rgba(0, 255, 136, 1);
    border-radius: 40px;
    width: 100px;
    height: 50px;
    color: black;
    font-size: 1.5em;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    z-index: 3;
    position: absolute;
    top: 5px;
    right: 70px;
    box-shadow: 0 0px 20px rgb(133, 216, 133);
}



.About{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 200px 50px;
}
.about-hdr{
    font-size: 2em;
    font-weight: 600;
    padding-bottom: 20px;
}
.about-p{
    font-style: Regular;
    font-size: 1em;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 80px;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.5);
}

.about-card{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding-bottom: 120px;
}
.about-card h1{
    color: rgba(0, 255, 136, 1);
    padding-bottom: 16px;
}

.whyUS-container{
    max-width: 1600px;
    /* border: 1px solid white; */
    margin: 0 auto;
    display: grid;
    padding: 10px;
    background-color: rgba(35, 14, 61, 1);
    padding-bottom: 120px;
}
.grid{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
    justify-content: space-between;
    gap: 30px; }

.whyush2{
    padding-top: 120px;
    padding-bottom: 60px;
    overflow: hidden;
    text-align: center;
    font-style: Bold;
font-size: 48px;
font-weight: 700;
background: rgba(35, 14, 61, 1)

}
.box{
    min-height: 100%;
    width: 100%;
    /* border: 1px solid skyblue; */
    border-radius: 40px;
    display: grid;
    align-items: center;
    text-align: left;
    padding: 30px 40px;
    background: rgba(26, 10, 48, 0.959);
}
.backtrns{
    background-color: transparent;
}

.grid h3{
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}

.grid p{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    /* padding: 10px 0px; */

}
.item4 h3{
     padding: 30px 0;
}
.item1{
    padding: 120px 30px;
    display: grid;
    grid-row: span 2;
    
}
.item2{
    display: grid;
    grid-column: span 2;
}
.item3{
    display: grid;
    grid-column: span 2;
}
.item4{
   
    display: grid;
    grid-column: span 2;
}

.featured{
        max-width: 1200px;
        margin: 0 auto;
        justify-items: center;
        padding-bottom: 120px;
        /* border: 2px solid yellow; */
    }

.ftitle{
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    padding: 60px 0 60px;
}
.fcardtitle{
    font-style: Bold;
    font-size: 1.5em;
    padding: 20px 0;
}
.fcards{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto;
    border-radius: 20px;
}

.fcard{
    border-radius: 20px;
    /* border: 2px solid white; */
    background-color: rgba(37, 13, 68, 1);
    /* padding: 25px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.iframe{
    max-width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.fcardp{
    font-style: Regular;
font-size: 16px;
padding-bottom: 10px;
}

.timetag{
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

.fcardtitle, .fcardp , .timetag{
    padding: 25px;
}

.mth-container{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.sectitle{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    padding-top: 60px;
    padding-bottom: 40px;
}
.bottomsec{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    background-color: rgba(37, 13, 68, 1);
    padding: 40px;
    border-radius: 30px;
}

.secimg{
    background-color: rgba(37, 13, 68, 1);
}

.secrighthead{
    font-size: 32px;
font-weight: 700;
background-color: rgba(37, 13, 68, 1);
}
.secp{
    padding: 20px 0px;
    background-color: rgba(37, 13, 68, 1);
}

.mthicons{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: rgba(37, 13, 68, 1);
}
.icn{
    border: 1px solid gray;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    padding: 10px;
    background-color: transparent;
}
.secp{
    color: rgba(255, 255, 255, 0.507);
    font-size: 16px;
font-weight: 400;
line-height: 24px;}

.footer{
    max-width: 1600px;
    margin: 0px auto;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    background-image: url(./assets/footer-bg.png);
    background-position: center;
    background-size: cover;
    background-size: 100%;
}

.footerimg{
    width: 350px;
    margin-bottom: 20px;
}

.channerlink{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.channels{
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
    padding: 30px 0px;}

.heromic{
    animation: size 2s ease-in-out infinite;
}
.badge{
    animation: colortransfer 3s ease-in-out infinite;
}
@keyframes colortransfer{
    0% {background-color: yellow;}
    50% {background-color: rgb(144, 240, 34);}
    100% {background-color: yellow;}
}

@keyframes size{
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}



/* medium Device */
    
@media screen and (min-width:576px) and (max-width:992px) {
    .navbar{
        max-width: 992px;
        margin: 20px auto;
        padding: 0px 20px;
    }
    .navmanu{
        display: none;
    }
    .hamburger{
        display: inline;
    }
    .banner{
    max-width: 992px;
    height: auto;
    margin: 0 20px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    background-image: url(./assets/hero-bg.png);
    background-position: top;
    background-size: cover;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(71, 69, 69, 0.445);
    /* border: 1px solid white; */
    text-align: center;}
    
    .About{
    max-width: 992px;
    margin: 0 20px;
    text-align: center;
    padding: 20px 20px 50px;}

.about-card{
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
    gap: 40px;
    padding-bottom: 120px;}
   
    .grid{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px; }

    .box{
    min-height: 200px;
    max-width: 90%;
    /* border: 1px solid skyblue; */
    border-radius: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    text-align: left;
    padding: 30px 40px;
    background: rgba(26, 10, 48, 0.959);}

    .grid h3{
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;}

    .whyush2{
    padding-top: 120px;
    padding-bottom: 30px;
    overflow: hidden;
    text-align: center;
    font-style: Bold;
    font-size: 2.5em;
    font-weight: 600;
    background: rgba(35, 14, 61, 1)}
    
    .fcards{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    border-radius: 20px;
}
.featured{
        max-width: 992px;
        margin: 0 auto;
        justify-items: center;
        padding-bottom: 120px;
        /* border: 2px solid yellow; */
    }
    .fcard{
    border-radius: 20px;
    /* border: 2px solid white; */
    background-color: rgba(37, 13, 68, 1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;}

    .ftitle{
    font-style: Bold;
    font-size: 40px;
    font-weight: 600;
    padding: 60px 0 40px;}
.bottomsec{
    display: flex;
    justify-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    align-items: center;
    padding: 40px;
    border-radius: 30px;}

    .bottomsec{
        max-width: 992px;
        margin: 0 20px;
    }
    .mthicons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;}

    .sectitle{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 40px;}

    .footer{
    max-width: 992px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-image: url(./assets/footer-bg.png);
    background-size: cover;
    background-position: center;
    background-size: 100% 250px;
    background-repeat: no-repeat;
    margin: 15px;
}

.footerimg{
    width: 280px;
    margin-bottom: 20px;
}

.channerlink{
    display: flex;
    justify-content: center;
    gap: 30px;}
}


/* movile device */
@media screen and (max-width: 576px){
    .navbar{
        max-width: 576px;
        padding: 0 20px;
    }
    .navmanu{
        display: none;
    }
    .navsub{
        display: none;
    }
    .hamburger{
        display: inline;
    }
    .About{
    max-width: 576px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 20px 50px;}

    .about-card{
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
    gap: 20px;
    padding-bottom: 120px;}
    
    .grid{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px; }

    .box{
    min-height: 200px;
    max-width: 90%;
    /* border: 1px solid skyblue; */
    border-radius: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    text-align: left;
    padding: 30px 40px;
    background: rgba(26, 10, 48, 0.959);}

    .grid h3{
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;}

    .whyush2{
    padding-top: 120px;
    padding-bottom: 30px;
    overflow: hidden;
    text-align: center;
    font-style: Bold;
    font-size: 2em;
    font-weight: 600;
    background: rgba(35, 14, 61, 1)}

    .fcards{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    border-radius: 20px;
}
.featured{
        max-width: 576px;
        margin: 0 auto;
        justify-items: center;
        padding-bottom: 120px;
        /* border: 2px solid yellow; */
    }
    .fcard{
    border-radius: 20px;
    /* border: 2px solid white; */
    background-color: rgba(37, 13, 68, 1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;}

    .ftitle{
    font-style: Bold;
    font-size: 30px;
    font-weight: 600;
    padding: 50px 0 30px;}
        .bottomsec{
    display: flex;
    justify-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    align-items: center;
    padding: 40px;
    border-radius: 30px;}

    .mthicons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;}

    .bottomsec{
        max-width: 992px;
        margin: 0 20px;}

    .sectitle{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer{
    max-width: 576px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-image: url(./assets/footer-bg.png);
    background-size: cover;
    background-position: center;
    background-size: 100% 250px;
    background-repeat: no-repeat;
    margin: 10px;
}

.footerimg{
    max-width: 220px;
    margin-bottom: 10px;
    padding-top: 50px;
}

.channerlink{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
padding: 0 5px;}
    
.channels{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 7px;
    align-items: center;
    text-align: center;
    padding: 15px 10px;}

    /* .copyr{
        text-align: center;
        padding-top: 100px;
    } */
}

