*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(26, 11, 46, 1);
    color: rgba(255, 255, 255, 1);
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.bg-gradient{
    background: linear-gradient(to top right, rgb(250, 250, 66),rgb(235, 14, 50) ,blue);
}

/* navbar */

.hamburger{
    display: none;
}

.navbar{
    max-width: 1200px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.navmanu{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    font-size: 1em;
}
.navsub button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 12px 16px;
    border-radius: 20px;
}

.navsub button i{
    background-color: transparent;
}

/* Banner section */

.About{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 200px 50px;
}
.about-hdr{
    font-size: 2em;
    font-weight: 600;
    padding-bottom: 20px;
}
.about-p{
    font-style: Regular;
    font-size: 1em;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 80px;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.5);
}

.about-card{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding-bottom: 120px;
}
.about-card h1{
    color: rgba(0, 255, 136, 1);
    padding-bottom: 16px;
}

.whyUS-container{
    max-width: 1600px;
    /* border: 1px solid white; */
    margin: 0 auto;
    display: grid;
    padding: 10px;
    background-color: rgba(35, 14, 61, 1);
}
.grid{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
    justify-content: space-between;
    gap: 20px;
}
.whyush2{
    padding-top: 120px;
    padding-bottom: 120px;
    overflow: hidden;
    text-align: center;
    font-style: Bold;
font-size: 48px;
font-weight: 700;
background: rgba(35, 14, 61, 1)
}
.box{
    min-height: 200px;
    width: 100%;
    border: 1px solid skyblue;
    border-radius: 20px;
    display: grid;
    align-items: center;
    text-align: center;
}

.item1{
    display: grid;
    grid-row: span 2;
}
.item2{
    display: grid;
    grid-column: span 2;
}
.item3{
    display: grid;
    grid-column: span 2;
}
.item4{
    display: grid;
    grid-column: span 2;
}





/* medium Device */
    
@media screen and (min-width:576px) and (max-width:992px) {
    .navbar{
        max-width: 992px;
        margin: 20px auto;
        padding: 0px 20px;
    }
    .navmanu{
        display: none;
    }
    .hamburger{
        display: inline;
    }
    .About{
    max-width: 992px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 20px 50px;}
    
    .about-card{
    padding-top: 80px;
    display: grid;
    grid-template-columns:repeat(2 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
    align-items: center;
    gap: 30px;
    padding-bottom: 120px;}
}


/* movile device */
@media screen and (max-width: 576px){
    .navbar{
        max-width: 440px;
        padding: 0 20px;
    }
    .navmanu , .navsub{
        display: none;
    }
    .hamburger{
        display: inline;
    }
    .About{
    max-width: 576px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 20px 50px;}

    .about-card{
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
    gap: 20px;
    padding-bottom: 120px;}

}

