*{
    margin: 0;
    padding: 0;
    background-color: rgba(26, 11, 46, 1);
    color: rgba(255, 255, 255, 1);
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.bg-gradient{
    background: linear-gradient(to top right, rgb(250, 250, 66),rgb(235, 14, 50) ,blue);
}
.hamburger{
    display: none;
}

.navbar{
    max-width: 1200px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.navmanu{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    font-size: 1em;
}
.navsub button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 12px 16px;
    border-radius: 20px;
}

.navsub button i{
    background-color: transparent;
}

/* medium Device */
    
@media screen and (min-width:576px) and (max-width:992px) {
    .navbar{
        max-width: 992px;
    }
    .navmanu{
        display: none;
    }
    .hamburger{
        display: inline;
    }
}
/* movile device */
@media screen and (max-width: 576px){
    .navbar{
        max-width: 440px;
    }
    .navmanu , .navsub{
        display: none;
    }
    .hamburger{
        display: inline;
    }
    
}

